@mixin cover-height() {
  position: relative;
  min-height: 40rem;
  // padding-top: 12rem;

  @include grid-media($media-md) {
    padding-top: 0;
    min-height: 50rem;
  }

  @include grid-media($media-lg) {
    min-height: 60vh;
  }
}