@mixin leader-height() {
  position: relative;
  padding-top: 13.3rem;

  @include grid-media($media-md) {
    padding-top: 24.5rem;
  }

  @include grid-media($media-lg) {
    padding-top: 38vh;
    // padding-top: 28vh; Should be once empty block is removed
    // padding-top: 24.5rem; If not dynamic
  }
}
