<div class="block">
  <div class="block-image">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at congue massa, laoreet viverra nunc. Quisque ut aliquet neque. Duis ultrices massa nec turpis pretium, eget faucibus libero convallis. Nullam mi arcu, convallis sed placerat at, tincidunt ac elit. Curabitur tristique venenatis tellus, a condimentum enim gravida in. Vivamus at congue justo. Etiam a libero quis urna elementum dignissim. Nullam eu mollis ipsum. Cras in ex lectus.
  </div>

  <div class="block-content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at congue massa, laoreet viverra nunc. Quisque ut aliquet neque. Duis ultrices massa nec turpis pretium, eget faucibus libero convallis. Nullam mi arcu, convallis sed placerat at, tincidunt ac elit. Curabitur tristique venenatis tellus, a condimentum enim gravida in. Vivamus at congue justo. Etiam a libero quis urna elementum dignissim. Nullam eu mollis ipsum. Cras in ex lectus.
  </div>
</div>