@import "../../utilities/utilities";
// requires atoms/figure
// requires molecules/full-image

.banner-image {
  position: relative;

  img {
    display: block;
  }

  &.top {
    padding-top: 12rem;

    @include grid-media($media-md) {
      padding-top: 15rem;
    }
  }

  &.bottom {
    padding-bottom: 12rem;

    @include grid-media($media-md) {
      padding-bottom: 15rem;
    }
  }

  &.responsive {
    @include responsive-aspect-ratio();
  }
}

.banner-image_container {
  @include position(absolute, 0 2.5rem);

  @include grid-media($media-md) {
    @include position(absolute, 0 5rem);
  }

  @include grid-media($media-lg) {
    @include position(absolute, 0 10rem);
  }
}

.banner-image_action {
  @include position(absolute, null null 0 0);

  .button {
    @include padding(2rem 5rem);
    margin-bottom: 0;

    @include grid-media($media-md) {
      @include padding(2.5rem 9rem);
    }

    @include grid-media($media-lg) {
      @include padding(null 11.5rem);
    }
  }
}
