@import "../../utilities/utilities";

.block {
  a {
    text-decoration: none;
    color: color(base);
  }

  &.minor {
    margin-bottom: 7.5rem;
    
    .block_image {
      margin-bottom: 2rem;
    }

    .block_title {
      @include h5();
      font-family: $sans-bold-family;
      margin-top: 0;
      margin-bottom: 0;
    }

    .block_subtitle {
      @include h5;
      font-family: $font-sans;
    }
  }
}

.block_image {
  margin-bottom: 3.5rem;

  img {
    display: block;
  }
}

.block_title {
  @include h3();
  font-weight: normal;
  margin-bottom: 2rem;

  a {
    &:hover {
      @include underline-link;
    }
  }
}

.block_subtitle {
  @include h5();
  font-family: $sans-bold-family;
  margin-top: 0;
}
