@import "../../utilities/utilities";
// requires molecules/block

.blocks {
  $block-grid: (
    columns: 12,
    gutter: 5.75%,
  );

  @include grid-container;
  
  @include grid-media($media-md) {
    margin-left: -6.5%;
    margin-right: -6.5%;
  }

  .block {
    @include grid-media($media-md) {
      @include grid-column(6, $block-grid);
    }

    @include grid-media($media-lg) {
      @include grid-column(4, $block-grid);
    }
  }

  &.blocks--steps .block {
    padding-bottom: 10rem;

    @include grid-media($media-md) {
      padding-bottom: 0;
    }

    &:nth-child(2) {
      @include grid-media($media-md) {
        padding-top: 40rem;
      }
    }

    &:nth-child(3) {
      @include grid-media($media-lg) {
        padding-top: 80rem;
      }
    }
  }
}
