@import "../../utilities/utilities";

.carousel {
  position: relative;

  @include grid-media($media-sm-below) {
    @include full-container;
  }

  &.full {
    @include clearfix;

    .carousel_figure {
      @include full-container;
    }

    .carousel_caption {
      @include grid-media($media-md) {
        left: 5rem;
        margin-right: 20rem;
      }

      @include grid-media($media-lg) {
        left: 10rem;
        margin-right: 25rem;
      }
    }
  }
}

.carousel_frame {
  width: 100%;
}

.carousel_slides {
  @include unstyled-list();
  width: 100%;
}

.slider-frame {
  transition: height 0.3s;
}

.carousel_slide {
  .carousel_figure,
  .carousel_figure img {
    @include grid-media($media-sm-below) {
      @include full-container;
      max-width: none;
    }

    @include grid-media($media-md) {
      width: 100%;
      max-width: none;
      display: block;
    }
  }

  .carousel_figure img {
    padding-bottom: 8.5rem;
  }

  .text-section {
    img {
      width: auto;
      max-width: 100%;
    }
  }
}

.carousel_caption {
  @include position(absolute, null null -1rem 0)
  padding: 0;
  font-family: $font-serif;
  font-size: 1.3rem;
  float: left;
  margin: 0;
  height: 7.5rem;

  @include grid-media($media-sm-below) {
    padding-left: 2.5rem;
  }

  @include grid-media($media-md) {
    @include position(absolute, null null -2rem 0);
    font-size: 1.4rem;
    margin-right: 14.5rem;
  }
}

.carousel_controls {
  @include position(absolute, null null 10.5rem 2.5rem);

  @include grid-media($media-md) {
    @include position(absolute, null 0 2.5rem auto);
    float: right;
  }

  svg {
    height: 1.2rem;
    width: 1.2rem;
    color: color(white);

    @include grid-media($media-md) {
      height: 3rem;
      width: 3rem;
      color: color(base);
    }
  }

  .carousel_arrow--sm {
    @include grid-media($media-md) {
      display: none;
    }
  }

  .carousel_arrow--md {
    display: none;

    @include grid-media($media-md) {
      display: block;
    }
  }
}

.carousel_prev {
  margin-right: 0;

  @include grid-media($media-md) {
    margin-right: 5rem;
  }
}

.carousel_next {
  margin-left: 4rem;

  @include grid-media($media-md) {
    margin-left: 0;
  }
}
