@import "../../utilities/utilities";

.content-group {
  h4 {
    font-family: $sans-bold-family;
    margin-bottom: 4rem;
  }

  h2 {
    @include h1()
    margin-bottom: 5rem;
  }

  ul {
    @include padding(5rem null)
    color: color(grey-light);
  }
}