@import "../../utilities/utilities";

.full-image {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  img {
    display: block;
    width: 100%;
    margin-bottom: 0;
  }
}
