@import "../../utilities/utilities";

.header-group {
  text-align: center;
  margin-left: 2.5rem;
  margin-right: 2.5rem;

  @include grid-media($media-md) {
    @include grid-column(10);
    @include center-column;
  }

  @include grid-media($media-lg) {
    @include grid-column(7);
    @include center-column;

    &.header-group--spaced {
      @include grid-column(6);
      @include center-column;
    }
  }
}

.header-group_subtitle, 
.header-group_label,
.header-group_link {
  @include h4();
  font-family: $sans-bold-family;
}

.header-group_label {
  margin-right: .5rem;
}

.header-group_link {
  margin-left: .5rem;
}

.header-group_brow {
  margin-bottom: 4rem;
}

.header-group_chin {

}

.header-group--spaced {
  .header-group_title,
  .header-group_subtitle {
    margin-bottom: 5.5rem;
  }

  .header-group_subtitle {
    padding-left: 20%;
    padding-right: 20%;
  }
}
