@import "../../utilities/utilities";

.icon-menu {
  &.inline-menu {
    display: block;
    float: right;
    margin: 0;
    line-height: 1.6rem;
    margin-right: 9rem;
    display: none;
  
    @include grid-media($media-md) {
      display: block;
    }

    @include grid-media($media-lg) {
      margin-right: 10rem;
    }

    ul > li {
      display: inline-block;
      line-height: 1.6rem;


      @media (min-width: 1200px) {
        margin-left: 0;
      }
    }

    svg {
      @include margin(0 1rem);
      width: 2.3rem;
      height: 2.3rem;
    }
  }
}