@import "../../utilities/utilities";

.inline-gallery_container {
  $inline-grid: (
    columns: 12,
    gutter: 5.75%,
  );

  @include grid-container;

  @include grid-media($media-md) {
    margin-left: -6.25%;
    margin-right: -6.25%;
  }

  .inline-gallery_image {
    margin-bottom: 12rem;

    @include grid-media($media-md) {
      @include grid-column(6, $inline-grid);
      margin-bottom: 0;
    }

    &:nth-child(odd) {
      @include grid-media($media-sm-below) {
        margin-left: -2.5rem;
        margin-right: 2.5rem;
      }
    }

    &:nth-child(even) {
      @include grid-media($media-sm-below) {
        margin-right: -2.5rem;
        margin-left: 2.5rem;
      }
    }

    &:last-child {
      margin-bottom: 0;

      @include grid-media($media-md) {
        padding-top: 20rem;
      }
    }

    img {
      width: 100%;
    }

    figcaption {
      margin-left: 5rem;

      @include grid-media($media-md) {
        margin-left: 0;
      }
    }
  }
}
