@import "../../utilities/utilities";

.inline-gallery_container {
  $inline-grid: (
    columns: 12,
    gutter: 5.75%,
  );

  @include grid-container;

  @include grid-media($media-md) {
    margin-left: -6.25%;
    margin-right: -6.25%;
  }

  .inline-gallery_image {
    margin-bottom: 3rem;

    @include grid-media($media-md) {
      @include grid-column(6, $inline-grid);
      margin-bottom: 0;
    }

    img {
      width: 100%;
    }
  }
}
