@import "../../utilities/utilities";

.inline-gallery {
  $inline-grid: (
    columns: 12,
    gutter: 5.75%,
  );

  $inline-grid-tryptic: (
    columns: 10,
    gutter: 5.75%,
  );

  @include grid-container;

  @include grid-media($media-md) {
    margin-left: -6.25%;
    margin-right: -6.25%;
  }

  // Default 2 column 50/50
  .inline-gallery_image {
    margin-bottom: 12rem;

    @include grid-media($media-md) {
      @include grid-column(6, $inline-grid);
      margin-bottom: 0;
    }

    &:nth-child(odd) {
      @include grid-media($media-sm-below) {
        margin-left: -2.5rem;
        margin-right: 2.5rem;
      }
    }

    &:nth-child(even) {
      @include grid-media($media-sm-below) {
        margin-right: -2.5rem;
        margin-left: 2.5rem;
      }
    }

    img {
      width: 100%;
    }

    figcaption {
      margin-left: 5rem;

      @include grid-media($media-md) {
        margin-left: 0;
      }
    }

    // Push last child down
    &:last-child {
      margin-bottom: 0;

      @include grid-media($media-md) {
        padding-top: 20rem;
      }
    }
  }

  // One
  &.single {
    margin: 0;

    .inline-gallery_image {
      @include grid-media($media-md) {
        width: auto;
        margin: 0 17.5%;
      }

      &:nth-child(odd),
      &:nth-child(even) {
        @include grid-media($media-sm-below) {
          margin: 0;
        }
      }

      &:last-child {
        @include grid-media($media-md) {
          padding: 0;
        }
      }
    }
  } 

  // Two column 7/3 columns
  &.tryptic {
    .inline-gallery_image {
      padding-top: 0;
      padding-bottom: 5rem;

      &:nth-child(1),
      &:nth-child(3) {
        @include grid-media($media-lg) {
          @include grid-column(3, $inline-grid-tryptic);
        }
      }

      &:nth-child(2) {
        @include grid-media($media-md) {
          margin-top: 5.75%,
        }

        @include grid-media($media-lg) {
          @include grid-column(7, $inline-grid-tryptic);
          float: right;
          margin-right: 5.75%;
        }
      }
    }
  }

  &.tryptic--left {
    .inline-gallery_image {
      &:nth-child(1) {
        @include grid-media($media-md) {
          margin-top: 5.75%,
        }

        @include grid-media($media-lg) {
          @include grid-column(7, $inline-grid-tryptic);
        }
      }

      &:nth-child(2),
      &:nth-child(3) {
         @include grid-media($media-md) {
          margin-top: 0,
        }

        @include grid-media($media-lg) {
          @include grid-column(3, $inline-grid-tryptic);
          margin-top: 0;
        }
      }
    }
  }
}