@import "../../utilities/utilities";

.navbar {
  @include padding(5rem null);
  position: relative;
  z-index: 4;

  top: 0px;
  width: 100%;
  background: white;
  position: fixed;

  transition: all 0.5s;

  &.closed {
    transform: translateY(-100%);
  }

  &.compact {
    @include padding(5rem null);
    background-color: color(warm-grey);
  }

  @include grid-media($media-lg) {
    @include padding(8.5rem null);
  }

  &.bg-white {
    background-color: color(white);
  }

  .navbar-container {
    @include container;
    position: relative;
  }

  .logo {
    float: left;
  }

  .menu-toggle {
    float: right;
    margin-right: 1px;
  }

  .ticker {
    position: absolute;
    width: 100%;
    top: 0.3em;

    .ticker_link {
      position: relative;
      left: -8%;
    }
  }
}

body {
  margin-top: 133px;

  @include grid-media($media-lg) {
    margin-top: 194px;
  }
}
