@import "../../utilities/utilities";

.navbar {
  @include padding(5rem null);
  position: relative;
  z-index: 3;

  .navbar-container {
    @include container;
  }

  .logo {
    float: left;
  }

  .menu-toggle {
    float: right;
  }
}