@import "../../utilities/utilities";

.overlay {
  @include position(absolute, 0 0 0 0);
  z-index: 2;
  background-color: color(warm-grey);
  width: 100%;

  &--centered {
    z-index: 4;
  }
}

.f-container {
  .overlay {
    @include position(relative, auto auto);
  }
}

.overlay_container {
  @include container;
  background-color: color(warm-grey);
  padding-top: 16.5rem;
  max-width: 157.5rem;

  @include grid-media($media-md) {
    padding-top: 22rem;
  }

  @include grid-media($media-lg) {
    padding-top: 28.5rem;
  }
}

.overlay-toggle {
  @include position(absolute, 5rem 2.5rem null null);
  cursor: pointer;
  z-index: 5;
  opacity: 0.3;

  @include grid-media($media-md) {
    @include position(absolute, 5rem 5rem null null);
  }

  @include grid-media($media-lg) {
    @include position(absolute, 8.5rem 10rem null null);
  }

  svg {
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
  }
}

.overlay-media {
  .overlay_container {
    padding-top: 15rem;
    max-width: 130rem;
  }
}


.ReactModal__Body--open {
  overflow-y: hidden;
}

.ReactModal__Content {
  overflow-y: scroll !important;
  background-color: color(warm-grey) !important;

  .logo {
    @include position(absolute, 5rem null null 2.5rem);
    z-index: 5;
    margin-left: -1px;
    margin-top: -1px;
    opacity: 0.3;

    @include grid-media($media-md) {
      @include position(absolute, 5rem null null 5rem);
    }

    @include grid-media($media-lg) {
      @include position(absolute, 8.5rem null null 10rem);
    }
  }
}
