@import "../../utilities/utilities";

.overlay {
  @include position(absolute, 0 0 0 0);
  z-index: 2;

  background-color: color(grey-lighter);
  width: 100%;

  &--centered {
    z-index: 4;
  }
}

.f-container {
  .overlay {
    @include position(relative, auto auto);
  }
}

.overlay_container {
  @include container;
  padding-top: 16.5rem;
  max-width: 157.5rem;

  @include grid-media($media-md) {
    padding-top: 22rem;
  }

  @include grid-media($media-lg) {
    padding-top: 28.5rem;
  }
}

.overlay-toggle {
  @include position(absolute, 5rem 2.5rem null null);

  @include grid-media($media-md) {
    @include position(absolute, 5rem 5rem null null);
  }

  @include grid-media($media-lg) {
    @include position(absolute, 8.5rem 10rem null null);
  }

  svg {
    height: 1.6rem;
    width: 1.6rem;
  }
}

.overlay-media {
  .overlay_container {
    padding-top: 15rem;
  }
}