@import "../../utilities/utilities";

.quote-group {
  p {
    @include h1();
    font-family: $font-serif;
    line-height: 1.41;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  cite {
    color: color(grey-light)
  }
}