@import "../../utilities/utilities";

.social-icon-menu {
  li {
    display: inline-block;
    margin-left: 4rem;

    &:first-child {
      margin-left: 0;
    }

    span {
      @include sr-only-text();
    }
  }

  svg {
    vertical-align: middle;
    height: 2.5rem;
    width: 2.5rem;
  }
}
