@import "../../utilities/utilities";

.subscribe {
  position: relative;
  width: 36rem;

  .icon-only-button {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  label {
    @include sr-only-text();
  }
}
