@import "../../utilities/utilities";
// requires atoms/icon-only-button

.subscribe {
  position: relative;
  width: 36rem;

  .icon-only-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 4.2rem;

    svg {
      height: 2.3rem;
      width: 2.3rem;
    }
  }

  input {
    line-height: normal;
    margin: 0;
  }

  label {
    @include sr-only-text();
    display: none;
  }

  ::placeholder {
    color: color(base);
  }
}

.subscribe-error {
  color: color(error);
  padding-top: 2rem;
}
