@import "../../utilities/utilities";
// requires atoms/icon-only-button

.subscribe {
  position: relative;
  width: 36rem;

  .icon-only-button {
    position: absolute;
    right: 0;
    bottom: 0;

    svg {
      height: 2.3rem;
      width: 2.3rem;
    }
  }

  label {
    @include sr-only-text();
    display: none;
  }

  ::placeholder {
    color: color(base);
  }
}
