////
/// Colors
////

$colors: (
  primary:                      #a4cab1,
  primary-light:                #dde1dc,
  primary-lighter:              #ebf4ef,
  primary-alt:                  #f9ecb1,
  primary-alt-light:            #fefae3,
  primary-alt-lighter:          #fefdf8,
  secondary:                    #7cbce0,
  secondary-light:              #ddf1f9,
  secondary-lighter:            #ebf5fb,
  secondary-lightest:           #f8fcfd,
  grey:                         #888888,
  grey-light:                   #999999,
  grey-lighter:                 #cccccc,
  grey-lightest:                #f5f5f5,
  warm-grey:                    #dde1dc,
);
