////
/// Colors
////

$colors: (
  primary:                      #a4cab1,
  primary-light:                #dde1dc,
  primary-lighter:              #ebf4ef,
  primary-dark:                 #9ec4ab,
  primary-alt:                  #f9ecb1,
  primary-alt-light:            #fefae3,
  primary-alt-lighter:          #fefdf8,
  primary-alt-dark:             #f4d953,
  primary-alt-darker:           #eed351,
  secondary:                    #7cbce0,
  secondary-light:              #ddf1f9,
  secondary-lighter:            #ebf5fb,
  secondary-lightest:           #f8fcfd,
  secondary-dark:               #79b6d7,
  grey:                         #888888,
  grey-light:                   #999999,
  grey-lighter:                 #cccccc,
  grey-lightest:                #f5f5f5,
  warm-grey:                    #dde1dc,
  error:                        #ff0000,
);
