////
/// Grid
////

// Grid container
.row {
  @include grid-container;
  max-width: $max-container-width;
  margin: 0 auto;
}

// Grid items
.column {
  float: left;

  &.small {
    @for $i from 1 through 12 {
      &-#{$i} {
        @include grid-column($i);
      }
    }
  }

  @include grid-media($media-md) {
    &.medium {
      @for $i from 1 through 12 {
        &-#{$i} {
          @include grid-column($i);
        }
      }
    }
  }

  @include grid-media($media-lg) {
    &.large {
      @for $i from 1 through 12 {
        &-#{$i} {
          @include grid-column($i);
        }
      }
    }
  }

  @include grid-media($media-xl) {
    &.xlarge {
      @for $i from 1 through 12 {
        &-#{$i} {
          @include grid-column($i);
        }
      }
    }
  }

  // Grid Push
  &.small-offset {
    @for $i from 1 through 12 {
      &-#{$i} {
        @include grid-push($i);
      }
    }
  }

  @include grid-media($media-md) {
    &.medium-offset {
      @for $i from 1 through 12 {
        &-#{$i} {
          @include grid-push($i);
        }
      }
    }
  }

  @include grid-media($media-lg) {
    &.large-offset {
      @for $i from 1 through 12 {
        &-#{$i} {
          @include grid-push($i);
        }
      }
    }
  }

  @include grid-media($media-xl) {
    &.xlarge-offset {
      @for $i from 1 through 12 {
        &-#{$i} {
          @include grid-push($i);
        }
      }
    }
  }
}
