////
/// Icons
////

//
// Inline SVG
// <svg>
//     <use xlink:href="#i-svg-{{icon}}"></use>
// </svg>
//

.i-svg {
  display: inline-block;
  fill: currentcolor;
  position: relative;
  stroke-width: 0;
  height: 1em;
  width: 1em;
}
