@import "../../utilities/utilities";

.figure {
  img {
    margin-bottom: 0;
    display: block;
  }
}

.figure--bg {
  height: 100vw;

  @include grid-media($media-md) {

  }

  @include grid-media($media-lg) {

  }

  @include grid-media($media-xl) {

  }
}

.figure_container {

}

.figcaption {
  padding-top: 3rem;
  font-size: 1.4rem;
}

picture {
  img {
    width: 100%;
    max-width: none;
  }
}
