@import "../../utilities/utilities";

.figure {
  img {
    margin-bottom: 0;
    display: block;
  }
}

.figcaption {
  padding-top: 3rem;
  font-size: 1.4rem;
}

picture {
  img {
    width: 100%;
    max-width: none;
  }
}