@import "../../utilities/utilities";

.figure {
  img {
    margin-bottom: 0;
    display: block;
  }
}

// figure with background image
.figure--bg {
  height: 100vw;

  @include grid-media($media-md) {
    height: 56.25vw;
  }

  @include grid-media($media-lg) {

  }
}

.figure_container {
  @include position(absolute, 0 0 0 0);
  background-size: cover;
  background-position: 50% 50%;
}

.f-container {
  .figure_container {
    @include position(relative, auto auto);
  }
}

.figcaption {
  padding-top: 3rem;
  font-size: 1.4rem;
}

picture {
  img {
    width: 100%;
    max-width: none;
  }
}
