{{> navbar}}
<div class="page-container">
  {{> leader-text classes="is-cover leader-float"}}
</div>
<div class="page-container bg-primary-alt">
  <div class="single-section text-section">
    <div class="text-section_container">
      <div class="text-section_column">
        {{> content-group}}
      </div>
    </div>
  </div>
</div>
<div class="page-container">
  <div class="single-section text-section">
    <div class="text-section_container">
      <div class="text-section_column">
        {{> content-group}}
      </div>
    </div>
  </div>
</div>
</div>
{{> footer}}