{{> navbar}}

<div class="page-container">
  {{> leader-text classes="is-cover leader-float"}}
</div>

<div class="page-container bg-primary-alt">
  <div class="single-section wide-section top">
    {{> text-section }}
  </div>
</div>

<div class="page-container bg-primary-alt">
  <div class="single-section wide-section">
    {{> blocks-captions}}
  </div>
</div>

<div class="page-container">
  <div class="single-section wide-section top">
    {{> text-section }}
  </div>
</div>

<div class="page-container">
  <div class="single-section wide-section">
    {{> text-section-offset }}
  </div>
</div>

{{> split-link}}
{{> footer}}