{{> navbar}}

<div class="page-container">
  {{> leader-text classes="is-cover leader-float"}}
</div>

<div class="page-container bg-primary-alt-light">
  <div class="single-section wide-section top">
    {{> text-section }}
  </div>
</div>

<div class="page-container bg-primary-alt-light">
  <div class="single-section wide-section">
    {{> blocks-push}}
  </div>
</div>

<div class="page-container">
  <div class="single-section wide-section top">
    {{> text-section }}
  </div>
</div>

<div class="page-container bg-primary-alt-light">
  <div class="single-section top">
    {{> carousel classes="full"}}
  </div>
</div>

<div class="page-container">
  <div class="single-section wide-section">
    {{> text-section-offset }}
  </div>
</div>

{{> split-link}}
{{> footer}}