{{> navbar}}
{{> hero classes="bg-secondary-light bg-offset-top"}}
<div class="page-container">
  <div class="single-section center-section">
    {{> content-group}}
  </div>
</div>

<div class="page-container">
  <div class="single-section">
    {{> carousel classes="full"}}
  </div>
</div>

<div class="page-container">
  <div class="single-section scale-section">
    {{> video-embed}}
  </div>
</div>

<div class="page-container">
  <div class="single-section">
    {{> inline-gallery}}
  </div>
</div>
{{> block-section}}
{{> footer}}