{{> navbar}}
{{> hero classes="bg-secondary-light bg-offset-top"}}
<div class="page-container">
  <div class="single-section center-section top">
    {{> content-group}}
  </div>
</div>

<div class="page-container">
  <div class="single-section">
    {{> carousel classes="full"}}
  </div>
</div>

<div class="page-container">
  <div class="single-section scale-section">
    {{> video-embed}}
  </div>
</div>

<div class="page-container">
  <div class="single-section wide-section">
    {{> quote-group}}
  </div>
</div>

<div class="page-container bg-secondary-light">
  <div class="single-section top">
    {{> inline-gallery-tryptic}}
  </div>
</div>

<div class="page-container">
  <div class="single-section top">
    {{> inline-gallery}}
  </div>
</div>
{{> block-section}}
{{> footer}}