body {
  text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  
  @include grid-media($media-md) {
    font-size: $base-font-size-large;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: color(base);
  transition: $button-transition;

  &:hover {
    color: color(base);
  }
}

address {
  line-height: $base-line-height;
}

strong, b {
  font-weight: normal;
  font-family: $sans-bold-family;
}
