////
/// Typography
////

$font-stack-helvetica: 'Helvetica Neue', 'Helvetica', 'Arial';
$font-stack-georgia: 'Georgia', 'Times', 'Times New Roman';
$font-stack-monaco: 'Monaco', 'Consolas', 'Lucida Console';

/// Base Font Family Map
$base-font-families: (
  monospace:  "'Source Code Pro', #{$font-stack-monaco}",
  sans-serif: "'Noto Sans', #{$font-stack-helvetica}",
  serif:      "'Noto Serif', #{$font-stack-georgia}"
) !default;

/// Base Font Family Setting.
$base-font-family: unquote(map-get($base-font-families, sans-serif)) !default;

/// Heading Font Family.
$heading-font-family: unquote(map-get($base-font-families, serif)) !default;

/// Monospace Font Family.
$monospace-font-family: unquote(map-get($base-font-families, monospace)) !default;

// Typography
// Removing the !default from $em-base so we are not inheriting that
// value from Bourbon.
$em-base:             10px;
$base-font-size:      1.7rem !default;
$small-font-size:     1.4rem !default;
$lead-font-size:      2rem !default;
$title-font-size:     5.2rem !default;
$h1-font-size:        4rem !default;
$h2-font-size:        3rem !default;
$h3-font-size:        2rem !default;
$h4-font-size:        1.7rem !default;
$h5-font-size:        1.5rem !default;
$h6-font-size:        1.3rem !default;
$base-line-height:    1.5 !default;
$heading-line-height: 1.3 !default;
$lead-line-height:    1.7 !default;

$font-sans:           unquote(map-get($base-font-families, sans-serif)) !default;
$font-serif:          unquote(map-get($base-font-families, serif)) !default;

$font-normal:         400 !default;
$font-bold:           700 !default;

$text-max-width:      53rem !default;
