@import "../../utilities/utilities";

.page-container {
  @include container;

  &.bg-primary-alt {
    background-color: color(primary-alt);
  }

  &.bg-primary-alt-light {
    background-color: color(primary-alt-light);
  }
  
  &.bg-secondary-light {
    background-color: color(secondary-lighter);
  }

  &.bg-offset-home {
    margin-top: -10.25rem;
    padding-top: 17.5rem;
    padding-bottom: 17.5rem;

    @include grid-media($media-md) {
      margin-top: -9.5rem;
      padding-top: 20rem;
      padding-bottom: 20rem;
    }

    @include grid-media($media-lg) {
      padding-top: 20rem;
      margin-top: -9.5rem;
    }
  }

  &.top-offset-home {
    margin-top: -7.5rem;

    @include grid-media($media-md) {
      margin-top: -10rem;
    }

    @include grid-media($media-lg) {
      margin-bottom: -31rem;
    }
  }
}

.full-container {
  @include full-container;
}
