@import "../../utilities/utilities";

.page-container {
  @include container;

  &.bg-primary-alt {
    background-color: color(primary-alt);
  }

  &.bg-primary-alt-light {
    background-color: color(primary-alt-light);
  }

  &.bg-secondary-light {
    background-color: color(secondary-lighter);
  }
}

.full-container {
  @include full-container;
}
