@import "../../utilities/utilities";

.filter-section {
  @include grid-container;
}

.filter-section_container {
  @include cover-height;
  @include navbar-offset;
  align-items: flex-end; 
  display: flex;
}

.filter-section_header {
  width: 100%;
}

.filter-section_title {
  margin-bottom: 4rem;

  @media (min-width: 1200px) {
    float: left;
  }
}

.filter-section_menu {
  @media (min-width: 1200px) {
    margin-bottom: 20rem;
    float: right;
    line-height: 5rem;
  }
}
