@import "../../utilities/utilities";

.filter-section {
  @include grid-container;
}

.filter-section_container {
  @include cover-height;
  align-items: flex-end; 
  display: flex;
  width: 100%;

  @include grid-media($media-lg) {
    min-height: 25vh;
  }
}

.filter-section_header {
  width: 100%;
}

.filter-section_title {
  margin-bottom: 4rem;

  @media (min-width: 1200px) {
    float: left;
  }
}

.filter-section_menu {
  position: relative;
  width: 100%;

  @media (min-width: 1200px) {
    float: right;
    line-height: 5rem;
    width: auto;
  }

  .menu-icon {
    @include position(absolute, 0 0 null null);

    @media (min-width: 1200px) {
      position: relative;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.filter-section_search {

}
