@import "../../utilities/utilities";

.footer {
  @include grid-container;
  background-color: color(warm-grey);
}

.footer-container {
  @include container;
  @include padding(12.5rem null 5rem);

  @include grid-media($media-lg) {
   @include padding(20rem null 7rem); 
  }

  ul {
    @include unstyled-list;
  }
}

.footer_brand-address {
  .logo {
    margin-bottom: 10rem;

    @include grid-media($media-md) {
      margin-bottom: 7.5rem;
    }

    @include grid-media($media-lg) {
      margin-bottom: 4rem;
    }
  }

  address {
    display: none;
    margin-bottom: 7rem;

    @include grid-media($media-lg) {
      display: block;
    }
  }
}

.footer-menu {
  margin-bottom: 10rem;

  @include grid-media($media-md) {
    margin-bottom: 15rem;
  }

  .hide-lg {
    @include grid-media($media-lg) {
      display: none;
    }
  }
}


.footer_sole {
  @include grid-container;
}

.footer__subscribe-social {
  @include grid-container;
  
  @include grid-media($media-md) {
    float: right; 
  }

  @include grid-media($media-lg) {
    @include grid-collapse;
    float: none;
  }

  .subscribe-group {
    display: none;
    margin-bottom: 7.5rem;

    @include grid-media($media-lg) {
      @include grid-column(6);
      display: block;
    }
  }

  .social-icon-menu {
    margin-bottom: 10rem;

    @include grid-media($media-md) {
      margin-bottom: 0rem;

      ul {
        float: right;  
      }
    }

    @include grid-media($media-lg) {
      @include grid-column(6);
    }
  }
}

.footer_copy-terms {
  @include grid-container;

  @include grid-media($media-md) {
    float: left;
    line-height: 4rem;
  }

  @include grid-media($media-lg) {
    @include grid-collapse;
    float: none;
    line-height: 1;
  }
}

.footer-copy {
  font-size: 1.1rem;
  
  @include grid-media($media-md) {
    float: left;
  }

  @include grid-media($media-lg) {
    @include grid-column(6);
    font-size: 1.3rem;
  }
}

.footer_terms {
  display: none;
  font-size: 1.3rem;

  @include grid-media($media-lg) {
    @include grid-column(6);
    display: block;

    ul {
      float: right;
    }
  }

  li {
    display: inline-block;
    margin-left: 2.4rem;
  }
}
