@import "../../utilities/utilities";
// requires molecule/banner-image

.hero {
  @include full-container;
  @include navbar-offset;

  &.bg-primary-alt {
    background-color: color(primary-alt);
  }

  &.bg-secondary-light {
    background-color: color(secondary-lighter);
  }

  &.bg-primary-alt-light {
    background-color: color(primary-alt-light);
  }
}

.hero-header {
  @include cover-height;
  display: flex;
  align-items: center;
  justify-content: center;

  .header-group {
    @include grid-media($media-lg) {
      @include center-transform;
    }
  }
}

.hero-image {
  margin-bottom: 10rem;
}
