@import "../../utilities/utilities";
// requires molecule/banner-image

.hero {
  @include full-container;
  @include navbar-offset;

  &.bg-primary-alt {
    background-color: color(primary-alt);
  }

  &.bg-secondary-light {
    background-color: color(secondary-lighter);
  }

  &.bg-primary-alt-light {
    background-color: color(primary-alt-light);
  }

  &.bg-offset-top {
    box-shadow: inset 0 14rem 0 0 color(white);

    @include grid-media($media-md) {
      box-shadow: inset 0 16rem 0 0 color(white);
    }

    @include grid-media($media-lg) {
      box-shadow: inset 0 20rem 0 0 color(white);
    }
  }
}

.hero-header {
  @include cover-height;
  display: flex;
  align-items: center;
  justify-content: center;

  .header-group {
    @include grid-media($media-lg) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.hero-image {
  // Psuedo bg image
  @include responsive-aspect-ratio();
}

// .hero-image {
//   margin-bottom: 10rem;
// }
