
.leader {
  @include full-container;
  @include navbar-offset;
  margin-bottom: 10rem;

  &.bg-primary-alt {
    background-color: color(primary-alt);
  }
}

.leader_container {
  @include container;
  @include cover-height;
  padding-bottom: 5rem;
  max-width: 144rem;

  @include grid-media($media-lg) {
    height: auto;
    min-height: 70vh;
  }

  @media (min-width: 1500px) {
    max-height: none;
  }
}

.leader_grid {
  @include grid-media($media-lg) {
    display: flex;
    flex-direction: row-reverse;
  }

  .leader_column {
    @include grid-media($media-lg) {
      width: 50%;
    }

    @include grid-media($media-xl) {
      margin-bottom: 10rem;
    }
  }
}

.leader_image {
  margin-bottom: 5rem;

  @include grid-media($media-md) {
    margin-bottom: 10rem;
  }

  @include grid-media($media-lg) {
    margin-bottom: 0;
  }
}

.leader_header {
  align-items: flex-end; 
  display: flex;
  height: 100%;

  h1 {
    @include h2();
    margin-bottom: 4rem;
  }
}