
.leader {
  @include full-container;
  @include navbar-offset;

  &.bg-primary-alt {
    background-color: color(primary-alt);
  }
}

.leader_container {
  @include container;
  padding-bottom: 5rem;
  max-width: 144rem;
}

.leader_grid {

}

.leader_image {
  margin-bottom: 5rem;

  @include grid-media($media-md) {
    margin-bottom: 10rem;
  }

  @include grid-media($media-lg) {
    margin-bottom: 0;
  }
}

.leader_header {
  align-items: flex-end; 
  display: flex;
  height: 100%;

  h1 {
    @include h1();
    margin-bottom: 4rem;
  }
}

.leader-flex {
  .leader_grid {
    @include grid-media($media-lg) {
      display: flex;
      flex-direction: row-reverse;
    }

    .leader_column {
      @include grid-media($media-lg) {
        width: 50%;
        margin-bottom: 10rem;
      }
    }
  }
}

.leader-float {

  .leader_grid {
    $leader-grid: (
      columns: 12,
      gutter: 5rem,
    );

    @include grid-media($media-lg) {
      @include grid-collapse($leader-grid);
      display: flex;

      &:first-child {
        @include cover-height;
      }

      &:last-child {
        display: inline;
      }
    }

    .leader_column {
      @include grid-media($media-lg) {
        @include grid-column(6, $leader-grid);
      }

      &.right {
        @include grid-media($media-lg) {
          @include grid-push(6, $leader-grid);
        }
      }
    }
  }
}
