@import "../../utilities/utilities";

.leader {
  @include navbar-offset;
}

.leader_container {
  @include grid-container;
  padding-bottom: 5rem;
  max-width: $text-container-width;
  margin: 0 auto;
}

.leader_image {
  margin-bottom: 5rem;

  @include grid-media($media-md) {
    margin-bottom: 10rem;
  }

  @include grid-media($media-lg) {
    margin-bottom: 0;
  }
}

.leader_header {
  align-items: flex-end; 
  display: flex;
  height: 100%;

  h1 {
    @include h1();
    margin-bottom: 4rem;
  }
}

.leader-float {
  .leader_grid {
    $leader-grid-lg: (
      columns: 12,
      gutter: 5rem,
    );

    $leader-grid-md: (
      columns: 6,
      gutter: 5rem,
    );

    @include grid-media($media-md) {
      @include grid-collapse($leader-grid-lg);
    }

    @include grid-media($media-lg) {
      @include grid-collapse($leader-grid-md);
    }

    .leader_column {
      &:first-child {
        @include cover-height;
        align-items: flex-end; 
        display: flex;
        padding-top: 12rem;
      }

      @include grid-media($media-md) {
        @include grid-column(5, $leader-grid-md);
        padding-top: 0;
      }

      @include grid-media($media-lg) {
        @include grid-column(6, $leader-grid-lg);
      }

      &:last-child {
        margin-left: 5rem;

        @include grid-media($media-md) {
          @include grid-push(1, $leader-grid-md);
        }

        @include grid-media($media-lg) {
          @include grid-push(6, $leader-grid-lg);
        }
      }
    }
  }
}

// Contact page leader
.leader-flex {
  .leader_container {
    max-width: none;
  }

  .leader_grid {
    @include grid-media($media-lg) {
      display: flex;
      flex-direction: row-reverse;
    }

    .leader_column {
      @include grid-media($media-lg) {
        width: 50%;
        margin-bottom: 10rem;
      }
    }
  }
}
