@import "../../utilities/utilities";
// requires molecules/overlay


.overlay-menu {
  $overlay-grid-xl: (
    columns: 11,
    gutter: 5rem,
  );

  $overlay-grid: (
    columns: 11,
    gutter: 5rem,
  );

  ul {
    @include unstyled-list();
  }

  > ul {
    
  }

  li {
    font-family: $font-serif;
    font-size: 1.6rem;

    @include grid-media($media-md) {
      font-size: 2.5rem;
    }

    a {
      line-height: 1.35;
      display: inline-block;
      transition: $button-transition;

      &:hover {
        color: color(primary);
      }
    }

    &.parent {
      padding-bottom: 5rem;

      @include grid-media($media-md) {
        padding-bottom: 6rem;
      }

      > a {
        padding-bottom: 2.5rem;

        @include grid-media($media-lg) {
          padding-bottom: 6rem;
        }
      }
    }
  }

  .overlay-menu_nav--3columns {
    .parent {
      @include grid-media($media-lg) {
        float: left;
        width: 30%;
        margin-left: 6.66%;

        &:last-of-type {
          width: 20%;
        }
      }
    }
  }

  .overlay-menu_nav--centered {
    text-align: center;

    @include grid-media($media-lg) {
      
    }
  }
}
