@import "../../utilities/utilities";

.single-section {
  // @include section-spacing();
  padding-bottom: 1px;

  &.top {
    padding-top: 12rem !important;

    @include grid-media($media-md) {
      padding-top: 15rem !important;
    }
  }

  &.top-none {
    padding-top: 0 !important;
  }

  &.bottom,
  &.big-bottom {
    .content-group,
    .video-embed,
    .inline-gallery,
    .blocks,
    .quote-group,
    .slat-section, 
    .banner-image {
      padding-bottom: 12rem !important;

      @include grid-media($media-md) {
        padding-bottom: 15rem !important;
      }

      > :first-child {
        padding-bottom: 0;
        margin-top: 0;
      }

      > :last-child {
        padding-bottom: 0;
        margin-bottom: 0;
      }

      .carousel {
        margin-bottom: 12rem !important;

        @include grid-media($media-md) {
          margin-bottom: 15rem !important;
        }

        .content-group {
          @include grid-media($media-lg) {
            padding-bottom: 0 !important;
          }
        }
      }
    }
  }

  &.big-bottom {
    @include grid-media($media-md) {
      padding-bottom: 5rem !important;
    }
  }

  &.bottom-none {
    .content-group,
    .video-embed,
    .inline-gallery,
    .blocks,
    .quote-group,
    .slat-section, 
    .banner-image {
      padding-bottom: 0 !important;

      @include grid-media($media-md) {
        padding-bottom: 0 !important;
      }
    }
  }

// Delete me
  .content-group,
  .video-embed,
  .inline-gallery,
  .blocks,
  .quote-group,
  .slat-section, 
  .banner-image {
    padding-bottom: 12rem;

    @include grid-media($media-md) {
      padding-bottom: 15rem;
    }

    > :first-child {
      padding-bottom: 0;
      margin-top: 0;
    }

    > :last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  .carousel {
    margin-bottom: 12rem;

    @include grid-media($media-md) {
      margin-bottom: 15rem;
    }

    .content-group {
      @include grid-media($media-lg) {
        padding-bottom: 0;
      }
    }
  }
// Stop deleting me

  .video-embed {
    margin-left: -2.5rem;
    margin-right: -2.5rem;

    @include grid-media($media-md) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.wide-section {
  @include grid-container;
  max-width: $text-container-width;
  margin: 0 auto;
}

.center-section {
  @include grid-media($media-md) {
    margin: 0 auto;
    width: 57.5rem;
  }
}

.scale-section {
  @include grid-media($media-md) {
    margin: 0 17.5%;
  }
}
