@import "../../utilities/utilities";

.single-section {
  padding-top: 10rem;

  .content-group,
  .video-embed,
  .inline-gallery {
    padding-bottom: 10rem;
  }

  .video-embed {
    margin-left: -2.5rem;
    margin-right: -2.5rem;

    @include grid-media($media-md) {
      margin-left: -5rem;
      margin-right: -5rem;
    }

    @include grid-media($media-lg) {
      margin-left: -10rem;
      margin-right: -10rem;
    }
  }

  .inline-gallery {
    @include container;
    margin-bottom: 10rem;
  }

  .inline-gallery_image {
    &:nth-child(odd) {
      @include grid-media($media-sm-below) {
        margin-left: -5rem;
      }
    }

    &:nth-child(even) {
      @include grid-media($media-sm-below) {
        margin-right: -5rem;
      }
    }

    figcaption {
      margin-left: 5rem;

      @include grid-media($media-md) {
        margin-left: 0;
      }
    }
  }
}

.center-section {
  @include grid-media($media-md) {
    @include grid-column(5);
    float: none;
    margin: 0 auto;
    width: 57.5rem;
  }
}

.text-section {
  $text-grid: (
    columns: 12,
    gutter: 5rem,
  );

  @include grid-container;
  max-width: $text-container-width;
  margin: 0 auto;

  &.bg-primary-alt {
    background-color: color(primary-alt);
  }

  .text-section_container {
    @include grid-container;

    @include grid-media($media-lg) {
      @include grid-collapse($text-grid);
    }
  }

  .text-section_column {
    @include grid-media($media-lg) {
      @include grid-column(6, $text-grid);
    }
  }
}

