@import "../../utilities/utilities";

.single-section {

  &.top {
    padding-top: 12rem;

    @include grid-media($media-md) {
      padding-top: 15rem;
    }
  }

  .content-group,
  .video-embed,
  .inline-gallery,
  .blocks {
    padding-bottom: 12rem;

    @include grid-media($media-md) {
      padding-bottom: 15rem;
    }
  }

  .carousel {
    margin-bottom: 16rem;

    @include grid-media($media-md) {
      margin-bottom: 15rem;
    }
  }

  .video-embed {
    margin-left: -2.5rem;
    margin-right: -2.5rem;

    @include grid-media($media-md) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.wide-section {
  @include grid-container;
  max-width: $text-container-width;
  margin: 0 auto;
}

.center-section {
  @include grid-media($media-md) {
    margin: 0 auto;
    width: 57.5rem;
  }
}

.scale-section {
  @include grid-media($media-md) {
    margin: 0 17.5%;
  }
}

=======
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.wide-section {
  @include grid-container;
  max-width: $text-container-width;
  margin: 0 auto;
}

.center-section {
  @include grid-media($media-md) {
    margin: 0 auto;
    width: 57.5rem;
  }
}

.scale-section {
  @include grid-media($media-md) {
    margin: 0 17.5%;
  }
}

>>>>>>> 488297dad4bbb7116822b160c06498ed10f469f4
