@import "../../utilities/utilities";

.slat-section {
  @include section-spacing;

  // tmp should be removed once spacing dynamic
  padding-bottom: 12rem;

  @include grid-media($media-md) {
    padding-bottom: 15rem;
  }
}

.slat-section_header {
  @include h4();
  font-family: $sans-bold-family;
  margin-bottom: 7rem;
}

.slats {
  @include unstyled-list;
  border-top: 1px solid rgba(0,0,0,.3);
}

.slat {
  @include grid-container;
  @include padding(4rem null);
  border-bottom: 1px solid rgba(0,0,0,.3);
  position: relative;

  a {
    @include h3();
    line-height: 1.375;
    display: block;
    margin-bottom: 1.5rem;

    @include grid-media($media-md) {
      display: inline-block;
      float: left;
      margin: 0;
      width: 75%;
    }

    @include grid-media($media-lg) {
      margin-bottom: 0;
    }

    &:hover {
      @include underline-link;
    }
  }
}

.slat_title {
  font-family: $font-serif;
}

.slat_subtitles {
  margin: 0px;
  padding: 0px;
  font-family: $sans-bold-family;
  font-size: 1.6rem;
  
  @include grid-media($media-md) {
    @include center-transform(y);
    max-width: 23%;
    right: 0;
    float: right;
    display: block;
    text-align: right;
  }

}

.slat_subtitle {
  &:after {
    content:', ';
  }

  &:last-child:after {
    display: none;
  }
}

.slat-container--multiple-subtitles {
  .slat {
    a {
      @include grid-media($media-md) {
        width: 75%;
      }
      @include grid-media($media-lg) {
        width: 65%;
      }
    }
  }

  .slat_subtitle {
    margin-right: 30px;

    @include grid-media($media-md) {
      margin-right: 0;
      display: block;
      text-align: right;
    }
  
    @include grid-media($media-lg) {
      display: inline-block;

      &:first-child {
        white-space: nowrap;
        position: absolute;
        right: 13vw;

        &:after {
          display: none;
        }
      }
    }
  }
  
}

.slat-section_footer {
  @include grid-container;
  padding-top: 7.5rem;

  .slat-section_more {
    @include h5();
    font-family: $sans-bold-family;
    float: left;
  }

  .slat-section_back {
    float: right;
  }

  svg {
    vertical-align: middle;
    height: 3rem;
    width: 3rem;
  }
}
