@import "../../utilities/utilities";

.slat-section {
  margin-bottom: 20rem;
}

.slat-section_header {
  @include h5();
  font-family: $sans-bold-family;
  margin-bottom: 5rem;
}

.slats {
  @include unstyled-list;
  border-top: 1px solid color(base);
}

.slat {
  @include grid-container;
  @include padding(2rem null);
  border-bottom: 1px solid color(base);

  a {
    display: block;
  }
}

.slat_title {
  font-family: $font-serif;
}

.slat_subtitle {
  font-family: $sans-bold-family;
  font-size: 1.6rem;
  float: right;
}

.slat-section_footer {
  @include grid-container;
  padding-top: 7.5rem;

  .slat-section_more {
    @include h5();
    font-family: $sans-bold-family;
    float: left;
  }

  .slat-section_back {
    float: right;
  }

  svg {
    vertical-align: middle;
    height: 3rem;
    width: 3rem;
  }
}