@import "../../utilities/utilities";

.split-link {
  position: relative;

  @include grid-media($media-md) {
    display: flex;
    flex-wrap: wrap;
  }

  // Add variant classes for background color shift
  &.primary-alt {
    .split-link_action a {
      background-color: color(primary-alt);

      &:hover {
        background-color: darken(color(primary-alt), 10%);
      }
    }
  }

  &.secondary {
    .split-link_action a {
      background-color: color(secondary);

      &:hover {
        background-color: darken(color(secondary), 10%);
      }
    }
  }
}

.split-link_block {
  width: 100%;

  @include grid-media($media-md) {
    display: flex;
    align-items: center;
    width: 50%;
  }

  img {
    display: block;
  }

  figure, img {
    width: 100%;
    max-width: none;
  }
}

.split-link_action {
  height: 100vw;
  position: relative;

  @include grid-media($media-md) {
    height: auto;
  }

  a {
    @include position(absolute, 0 0 0 0);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color(primary);

    &:hover {
      background-color: darken(color(primary), 10%);
    }
  }
}

.split-link_image {

}
