@import "../../utilities/utilities";

.waterfall-blocks {
  .block {
    padding-bottom: 12rem;

    // &:nth-child(4n) {
    //   clear: both;
    // }

    .block_content {
      @include padding(null 2.5rem);

      @include grid-media($media-md) {
        padding: 0;
      }
    }

    &:nth-child(odd) .block_image {
      @include grid-media($media-sm-below) {
        margin-left: -2.5rem;
        margin-right: 2.5rem;
      }
    }

    &:nth-child(even) .block_image {
      @include grid-media($media-sm-below) {
        margin-right: -2.5rem;
        margin-left: 2.5rem;
      }
    }
  }
}
