@import "../../utilities/utilities";

.waterfall-blocks {
  .block {
    margin-bottom: 10rem;
    
    @include grid-media($media-md) {
      margin-bottom: 10rem;
    }

    .block_content {
      @include padding(null 2.5rem);

      @include grid-media($media-md) {
        padding: 0;
      }
    }

    &:nth-child(even) {
      .block_image,
      &.bg-primary-light,
      &.bg-primary-alt-light,
      &.bg-secondary-light {
        @include grid-media($media-sm-below) {
          margin-left: -2.5rem;
          margin-right: 2.5rem;
        }
      }
    }

    &:nth-child(odd) {
      .block_image,
      &.bg-primary-light,
      &.bg-primary-alt-light,
      &.bg-secondary-light {
        @include grid-media($media-sm-below) {
          margin-right: -2.5rem;
          margin-left: 2.5rem;
        }
      }
    }
  }
}
